body {
  font-family: 'Lato', sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  grid-gap: 1rem;
  align-items: end;

  font-size: 1.2rem;
  color: #FFC4AB;

  padding: 1em;
}
